{% load staticfiles %}
{% include 'header.html' %}
<!-- banner -->
<div class="inside-banner">
  <div class="container"> 
    <span class="pull-right"><a href="#">Home</a> / About Us</span>
    <h2>About Us</h2>
</div>
</div>
<!-- banner -->


<div class="container">
<div class="spacer">
<div class="row">
  <div class="col-lg-8  col-lg-offset-2">
  <img src="{% static 'images/about.jpg' %}" class="img-responsive thumbnail"  alt="realestate">

  <h3>Company Profile</h3>
  <p>
Our company is basically produced in order to save the time of people and cost also because in traditional system people have to contact property dealer for this purpose the property dealer can also waste their time and take big amount of money from them.
So our project is really going to help the people who want to sell or buy houses.
</p>
  <p>The system provides the stake holders with a reliable authentication mechanism.Data storage is secure and reliable.Information interchange in transactions is secure.
The system is support large numbers of clients concurrently without compromising processing efficiency.
Database accesses and updates on transaction data are instantaneous.
The validation of transactions and account authentications are done in very short time.
The system is easy to use. There should ideally be no need for training.
All the graphical user interfaces are clear and easy to use.
The system is provide useful help messages to guide the client.
The system is available for all the time. Outages should be negligible.
The system is allow transactions from registered users only.
All the transactions are recorded

  </p> </div>
 
</div>
</div>
</div>

{% include 'footer.html' %}