{% include 'header.html' %}
{% load staticfiles %}
<!-- banner -->
<div class="inside-banner">
  <div class="container"> 
    <span class="pull-right"><a href="{% url 'home' %}">Home</a> / Developers</span>
    <h2>Developers</h2>
</div>
</div>
<!-- banner -->


<div class="container">
<div class="spacer agents">

<div class="row">
  <div class="col-lg-8  col-lg-offset-2 col-sm-12">
      <!-- agents -->
      <div class="row">
        <div class="col-lg-2 col-sm-2 "><a href="#"><img src="{% static 'images/agents/3.png' %}" class="img-responsive"  alt="agent name"></a></div>
        <div class="col-lg-7 col-sm-7 "><h4>Muhammad Tayyab</h4>
            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dramatically visualize customer directed convergence.</p></div>
        <div class="col-lg-3 col-sm-3 "><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:muhammadtayyab73@gmail.com">muhammadtayyab73@gmail.com</a><br>
        <span class="glyphicon glyphicon-earphone"></span> (0092)3246467431</div>
      </div>
      <!-- agents -->
      
       <!-- agents -->
      <div class="row">
        <div class="col-lg-2 col-sm-2 "><a href="#"><img src="{% static 'images/agents/2.png' %}" class="img-responsive" alt="agent name"></a></div>
        <div class="col-lg-7 col-sm-7 "><h4>Rizwan Arif</h4>
            <p>Deals with all kind of property related information and issues. Also provide direction about property.</p></div>
        <div class="col-lg-3 col-sm-3 "><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:riz11667@gmail.com">riz11667@gmail.com</a><br>
        <span class="glyphicon glyphicon-earphone"></span> (0092)3046126494</div>
      </div>
      <!-- agents -->
      

       <!-- agents -->
      <div class="row">
        <div class="col-lg-2 col-sm-2 "><a href="#"><img src="{% static 'images/agents/1.png' %}" class="img-responsive" alt="agent name"></a></div>
        <div class="col-lg-7 col-sm-7 "><h4>Ahsan Zafar</h4>
            <p>Handle customers suggestion and contact to customers about properties. Also provided some guidance about properties</p></div>
        <div class="col-lg-3 col-sm-3 "><span class="glyphicon glyphicon-envelope"></span> <a href="ahsanzafar39@gmail.com">ahsanzafar39@gmail.com</a><br>
        <span class="glyphicon glyphicon-earphone"></span> (0092)3406588863</div>
      </div>
      <!-- agents -->
      

       <!-- agents -->
      <div class="row">
        <div class="col-lg-2 col-sm-2 "><a href="#"><img src="{% static 'images/agents/4.png' %}" class="img-responsive" alt="agent name"></a></div>
        <div class="col-lg-7 col-sm-7 "><h4>Usman Shafiq</h4>
            <p>Providing monitoring according to customers and property related performance and availablity</p></div>
        <div class="col-lg-3 col-sm-3 "><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:usman08usman@gmail.com">usman08usman@gmail.com</a><br>
        <span class="glyphicon glyphicon-earphone"></span> (0092)3134000791</div>
      </div>
      <!-- agents -->
      
     
  </div>
</div>


</div>
</div>

{% include 'footer.html' %}