{% include 'header.html' %}
<!-- banner -->
<script>
    $(document).ready(function(){
        $('#email').blur(function(e){
         var username=$(this).val();
         e.preventDefault();
        if(username.length==0){$('#user').text("Please fill this email field");}
            else{$('#user').text("");}
             $.ajax({
               type:'post',
               url:"{% url 'checkLoginUsername' %}",
               data:{'user':username},
               dataType:'json',
               success: function (data) {
                  if (data.is_taken && data.is_taken.length>0) {$('#user').val('');$('#user').text(data.is_taken);}
        		else{$('#user').empty();}		}
                         });


        });

     $('#forget').submit(function(e){

     var user=$('#email').val();

     if(user.length==0){e.preventDefault();$('#error').text("Not submit due to not filling field");}
     else{$('#loading').text("Please wait for sending security code.....");$('#error').text("");}
     });

    });
</script>
<div class="inside-banner">
  <div class="container"> 
    <span class="pull-right"><a href="{% url 'home' %}">Home</a> / Forget Password</span>
    <h2>Forget Password</h2>
</div>
</div>
<!-- banner -->

<br/>
<br/><br/>
<br/>
<div class="container">
<div class="spacer">
<div class="row register">
  <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 ">
<form id="forget" action="{% url 'recovery-account' %}" method="post">
    {% csrf_token %}
                <input type="text" class="form-control" id="email" placeholder="Enter Username" name="username" />
  <p style="color:red;font-bold:true;font-size:16px;" id="user"></p>
      <input type="submit" id="btn" class="btn btn-success" value="Submit" />

</form>

<p style="color:blue;font-size:14px;" id="loading"></p>
        </div>


</div>
</div>
    <p style="color:red;font-size:16px;margin-top:20px; margin-left:440px;" id="error"></p>
    <p style="color:red;font-size:16px;margin-top:30px; margin-left:300px;">{{error}}</p>
</div>
<br/><br/>
<br/>
{% include 'footer.html' %}