{% include 'header.html' %}
<!-- banner -->
<script>
    $(document).ready(function(){
        $('#scode').blur(function(e){
         var code=$(this).val();
         e.preventDefault();
        if(scode.length==0){$('#user').text("Please fill this security code field");}
            else{$('#user').text("");
              $.ajax({
               type:'post',
               url:"{% url 'securitycode' %}",
               data:{'scode':code},
               dataType:'json',
               success: function (data) {
                  if (data.is_taken && data.is_taken.length>0) {$('#user').val('');$('#user').text(data.is_taken);}
        		else{$('#user').empty();}		}
                         });
                         }

        });


    $('#pass').blur(function(e){
    var password=$(this).val();
         e.preventDefault();
        if(password.length==0){$('#password').text("Please fill this password field");}
            else if(password.length<8){$('#password').text("Please fill this password field at least 8 character");}
            else{$('#password').text("");}

    });

     $('#con_pass').blur(function(e){
    var password=$(this).val();
    var newp=$('#pass').val();
         e.preventDefault();
        if(password.length==0){
                        $('#con_password').text("Please fill this password field");}

        else if(password.length<8){$('#con_password').text("Please fill this password field at least 8 character");}
        else if(password!=newp){
                        $('#con_password').text("New and Confirm password does not match");
                        }
            else{$('#con_password').text("");}

    });

     $('#recovery').submit(function(e){

     var user=$('#scode').val();
     var password=$('#pass').val();
     var con_password=$('#con_pass').val();
     if(user.length==0 || password.length==0 || con_password.length==0){e.preventDefault();$('#error').text("Not submit due to not filling fields");}
     else if(password!=con_password){e.preventDefault();$('#error').text("Password and Confirm password does not matched");}
     else{$('#loading').text("Please wait.....");$('#error').text("");}
     });

    });
</script>
<div class="inside-banner">
  <div class="container"> 
    <span class="pull-right"><a href="{% url 'home' %}">Home</a> / Recovery Password</span>
    <h2>Recovery Password</h2>
</div>
</div>
<!-- banner -->

<br/>
<br/><br/>
<br/>
<div class="container">
<div class="spacer">
<div class="row register">
  <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 ">
<form id="recovery" action="{% url 'save-recovery-account' %}" method="post">
    {% csrf_token %}
                <input type="password" class="form-control" id="scode" placeholder="Enter Security Code" name="securecode" />
  <p style="color:red;font-bold:true;font-size:16px;" id="user"></p>
                <input type="password" class="form-control" id="pass" placeholder="Enter New Password" name="new_password" />
<p style="color:red;font-size:16px;" id="password"></p>
    <input type="password" class="form-control" id="con_pass" placeholder="Enter Confirm Password" name="con_password" />
<p style="color:red;font-size:16px;" id="con_password"></p>
      <input type="submit" id="btn" class="btn btn-success" value="Submit" />

</form>
<p style="color:blue;font-size:14px;" id="loading"></p>
                
        </div>


</div>
</div>
    <p style="color:red;font-size:16px;margin-top:20px; margin-left:440px;" id="error"></p>
    <p style="color:red;font-size:16px;margin-top:30px; margin-left:440px;">{{error}}</p>
</div>
<br/><br/>
<br/>
{% include 'footer.html' %}